BODY{
    height: 1000PX;
    font-family: TREDUCHET MS;
    background: linear-gradient(RGB(166,174,181) , RGB(120,130,140) 100%);
}
#WRAPPER_CONTACT_US{
    width: 800PX;
    height: 600px;
    margin: auto;
    background-color: RGB(145,153,161);
}

#WRAPPER_HOME{
    width: 800PX;
    height: 900px;
    margin: auto;
    background-color: RGB(145,153,161);
}

#WRAPPER_VILLA{
    width: 800PX;
    height: 900px;
    margin: auto;
    background-color: RGB(145,153,161);
}

#WRAPPER_OFFICE{
    width: 800PX;
    height: 650px;
    margin: auto;
    background-color: RGB(145,153,161);
}

#WRAPPER_VILLAGE_HOUSE{
    width: 800PX;
    height: 600px;
    margin: auto;
    background-color: RGB(145,153,161);
}
#MENU UL{
    background: RGB(126,135,145);
    border-bottom:SOLID SILVER THIN;
    text-align: CENTER;
    padding: 20PX 50PX 20PX 50PX;
    margin:auto -50PX;
}

#MENU UL LI{
    display: INLINE;
    PADDING: 10PX 50PX 10PX 50PX;
    color: WHITE;
    text-decoration: NONE;
}

#MENU UL LI A:hover{
   color: orange;
}

#FOOTER{
    background: RGB(107,116,127);
    border-TOP:SOLID SILVER THIN;
    padding: 0PX 250PX 0PX 250PX;
    margin:auto;
    height: 80PX;
    line-height:250%;
    
}

#FOOTER #P1{
    display: INLINE;
    float: LEFT;
    color: WHITE;
}

#FOOTER #P2{
    display: INLINE;
    float: RIGHT;
    color: WHITE;
}

#HOUSE2{
    float: right;
    height: 250PX;
    width: 800PX;
    
}

#HOUSE{
    margin-right: 300PX;
    height: 200PX;
    width: 200PX;
}

#LOGO{
    float: left;
    top: -245PX;
    position: relative;
}

#header P{
    FLOAT:LEFT;
}

#header{
    margin: 800PX 700PX;
}
#P3{
    float: LEFT;
    margin-left: -300PX;
    margin-top: -140PX;
    color: SILVER;
    font-size: 30PX;
}

#P4{
    float: LEFT;
    margin-left: -270PX;
    margin-top: -110PX;
    color: RED;
    font-size: 40PX;
}

#P5{
    float: LEFT;
    margin-left: -200PX;
    margin-top: -70PX;
    color: grey;
    font-size:35PX;
}

#parg{
    margin-top: -225px;
    //margin-right: 100PX;
    float: RIGHT;
    COLOR: WHITE;
}

#mid ul li{
    color: white;
    text-decoration-color: white;
    display:list-item;
}

#key{
    margin-left: 220px;
    margin-top: -220px;
}

#contact{
    width: 250px;
    height: 150px;
    margin-right: 300px;
}

#contact_p{
    margin-top: -160px;
    margin-right: 50PX;
    float: right;
    color: WHITE;
}

#villa_img{
    height: 200px;
    width: 400px;
    margin-right: 300px;
}

#villa_p{
    color: white;
    margin-right: 300px;
    float: left;
}

#villa_parag{
    color: white;
    float: right;
}

#office_img{
    width: 500px;
    height: 250px;
}

#office_parag{
    float: right;
    margin-top: -340px;
    margin-right: 50px;
    color: white;
    width: 235px;
    
}